.mainDiv {
  background: #f9f9f9;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  box-shadow: 0.3em 0.8em 1em #0032496e;
  width: 30vw;
  height: 90vh;
  flex-direction: column;
  padding: 1em;
}

.row {
  display: flex;
  flex-direction: row;
  margin-top: 1em;
  align-items: center;
}
.row a {
  text-decoration: none;
  background-color: #407bff;
  border-radius: 3px;
  padding: 0.5em 0.7em;
  color: #f5f5f5;
  font-size: 1.5em;
  font-weight: 800;
}
.col {
  display: flex;
  flex-direction: column;
}

.col h1 {
  font-size: 2em;
  margin-right: 3em;
}
.col p {
  margin: 0.5em 0;
}
.search {
  width: 100%;
  border: none;
  background-color: #f9f9f9;
  padding: 1em 0 1em 1em;
  box-sizing: border-box;
  border-bottom: solid #407bff;
}
.todoDiv {
  margin: 1em 0;
  padding: 1em;
  overflow-y: scroll;
  height: 100%;
}
.todo {
  margin-bottom: 1em;
  font-size: 1.3em;
  padding: 1em;
  border-radius: 3px;
  background-color: #dde7ff;
}

.todo a {
  text-decoration: none;
  color: #203e80;
}
.todo a:visited {
  color: #203e80;
}
